*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow-x: hidden;
   
}

.homepage{
   background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
   
}

.club .club_name{
   font-family: 'Bruno Ace SC', cursive;
   font-size: 60px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 29.6px;
   color: white;
}

@media (min-width:360px) and (max-width:420px) {

  .club .club_name{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 15px;
    color: white;
 }
  
}

.club .club_type{

   font-family: 'Bruno Ace SC', cursive;
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 7.2 px;
   color: rgba(193, 139, 235, 0.80);
}

@media (min-width:360px) and (max-width:420px) {

  .club .club_type{

    font-family: 'Bruno Ace SC', cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.5 px;
    color: rgba(193, 139, 235, 0.80);
 }
  
}


.club .college_name{

   
   font-family: Bruno Ace SC;
   
   font-size: 36px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 7.2px;
   color: rgba(193, 139, 235, 0.80);
}

@media (min-width:360px) and (max-width:420px) {

  .club .college_name{

   
    font-family: Bruno Ace SC;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.5px;
    color: rgba(193, 139, 235, 0.80);
 }
  
}

.club{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
  
}

.agenda_page{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
  
   
}

.title{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 60px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 80px;
   padding-left: 80px;

   

}

@media (min-width:360px) and (max-width:420px) {

  .title{
    color: #88c7f1;
     font-family: Bruno Ace SC;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 6px;
     padding-top: 40px;
     padding-left: 40px;
  
  
  }
}



.agenda_page .content{
   color: #FFF;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-top: 20px;
   
}

@media (min-width:360px) and (max-width:420px) {

  .agenda_page .content{
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    
 }
}




.content .first_list{
   list-style: circle;
   padding-left: 100px;
   padding-top: 10px;
   line-height: 160%;
   padding-right: 50px;
   
}

@media (min-width:360px) and (max-width:420px) {

  .content .first_list{
    list-style: circle;
    padding-left: 50px;
    padding-top: 5px;
    line-height: 160%;
    padding-right: 25px;
    
 }
}


.sub_list{
   padding-left: 60px;
   padding-top: 10px;
   color: #89AAEB;
   line-height: 180%;
   
}


@media (min-width:360px) and (max-width:420px) {

  .sub_list{
    padding-left: 30px;
    padding-top: 5px;
    color: #89AAEB;
    line-height: 180%;
    
 }

}

.content .second_list{
   list-style: circle;
   padding-left: 100px;
   padding-top: 10px;
   line-height: 160%;
}

@media (min-width:360px) and (max-width:420px) {

  .content .second_list{
    list-style: circle;
    padding-left: 50px;
    padding-top: 5px;
    line-height: 160%;
 }

}



.content .third_list{
   list-style: circle;
   padding-left: 100px;
   padding-top: 10px;
   line-height: 160%;

}

@media (min-width:360px) and (max-width:420px) {

  .content .third_list{
    list-style: circle;
    padding-left: 50px;
    padding-top: 5px;
    line-height: 160%;
 
 }

}

.fifth_page{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
   
   

}



.fifth_page .name{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 80px;
   padding-left: 80px;
  
}

@media (min-width:360px) and (max-width:420px) {

  .fifth_page .name{
    color: #88c7f1;
     font-family: Bruno Ace SC;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 6px;
     padding-top: 40px;
     padding-left: 40px;
    
  }
  

}

.fifth_page .list{

   color: #FFF;
   font-family: Poppins;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   

}


@media (min-width:360px) and (max-width:420px) {

  .fifth_page .list{

    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
 
 }
  

}

.list .list1{
   padding-top: 140px;
   padding-left: 130px;
   line-height: 160%;
   padding-right: 150px;

}


@media (min-width:360px) and (max-width:420px) {

  .list .list1{
    padding-top: 70px;
    padding-left: 60px;
    line-height: 160%;
    padding-right: 75px;
 
 }
  

}

.list p{
   color: #FFF;
   font-family: Poppins;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: 140%;
   padding-left: 100px;
   padding-top: 100px;
}


@media (min-width:360px) and (max-width:420px) {
  .list p{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    padding-left: 50px;
    padding-top: 50px;
 }
  

}


.illustration img{
  height: 160px;
  margin-left: 1100px;
}


@media (min-width:360px) and (max-width:420px) {
  
  .illustration {
    margin-top:60px;
  }
  
    
  
  }


@media (min-width:360px) and (max-width:420px) {
  
.illustration img{
  height: 80px;
  margin-left: 280px;
}
  

}

@media (min-width:360px) and (max-width:420px) {
  
  .illustration {
    
    margin-top: 80px;
  }
    
  
  }

.sixth_page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
  overflow-x: visible;
  
  
 
}

.qr_codebox{
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-family: Poppins;
  font-size: 25px;
  background-color: #f8f8f8;
  
  margin-top: 50px;
  letter-spacing: 1px;

  

}

@media (min-width:360px) and (max-width:420px) {
  
  .qr_codebox{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-family: Poppins;
    font-size: 15px;
    background-color: #f8f8f8;
    
    margin-top: 50px;
    letter-spacing: 1px;
  
    
  
  }
    
  
  }


.qr_codebox .group_type{
  font-size: 15px;
  padding-bottom: 5px;
}




.qr_codebox .image img{
  height: 200px;
}


@media (min-width:360px) and (max-width:420px) {
  
  .qr_codebox .image img{
    height: 150px;
  }
  
  
  }



.code_box{
  display: flex;
  justify-content: center;
  align-items: center;
  

}

@media (min-width:360px) and (max-width:420px) {
  
  .qr_codebox {
    margin-top: 120px;
    margin-right: 30px;
  }
  
  
  }


.whatsapp_qr{

  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 80px;
   padding-left: 80px;
   
  
}


@media (min-width:360px) and (max-width:420px) {
  
  .whatsapp_qr{

    color: #88c7f1;
     font-family: Bruno Ace SC;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 6px;
     padding-top: 40px;
     padding-left: 40px;
     
    
  }
    
  
  }

.illustration2 img{
  height: 120px;
  
  
}


@media (min-width:360px) and (max-width:420px) {
  
  .illustration2 {
    margin-top: 100px;
  }
    
  
  }


@media (min-width:360px) and (max-width:420px) {
  
  .illustration2 img{
    height: 60px;
  }
    
  
  }

 









.seventh_page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
  overflow-x: visible;
  
  
 
}

.qr_codebox2{
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-family: Poppins;
  font-size: 25px;
  background-color: #ffffff ;
  margin-top: 50px ;
  letter-spacing: 1px;

  

}


@media (min-width:360px) and (max-width:420px) {
  
  
.qr_codebox2{
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-family: Poppins;
  font-size: 15px;
  background-color: #ffffff ;
  margin-top: 50px ;
  margin-right:30px;
  letter-spacing: 1px;

  

}
  }


.qr_codeboxnew .group_type{
  font-size: 15px;
  padding-bottom:10px;
}
.qr_codebox2 .image img{
  height: 200px;
  padding-top: 10px;
}



@media (min-width:360px) and (max-width:420px) {
  
  
  .qr_codebox2 .image img{
    height: 150px;
    padding-top: 10px;
  }

    }
  


.code_boxnew{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}



@media (min-width:360px) and (max-width:420px) {
  
  
  .qr_codebox2 {
    margin-top: 100px;
  }

    }


.insta_qr{

   color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 40px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 80px;
   padding-left: 80px;
  
}


@media (min-width:360px) and (max-width:420px) {
  
  
  .insta_qr{

    color: #88c7f1;
    font-family: Bruno Ace SC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    padding-top: 40px;
    padding-left: 40px;
   
 }

    }


.illustration3 img{
  height: 120px;
  margin-left: 1200px;
}

.illustration3{
  margin-top: 100px;
}

@media (min-width:360px) and (max-width:420px) {
  
  
  .illustration3 img{
    height: 60px;
    margin-left: 260px;
    margin-top:50px;
  }

    }

.eight_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   

}

.thankyou_page h1{
  font-family: 'Bruno Ace SC', cursive;
   font-size: 60px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 29.6px;
   color: white;

}


@media (min-width:360px) and (max-width:420px) {
  
  
  .thankyou_page h1{
    font-family: 'Bruno Ace SC', cursive;
     font-size: 30px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 15px;
     color: white;
  
  }

    }


@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

svg {
  font-family: "Poppins", sans-serif;
  width: 800px ;height: 100%;
}
svg text {
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 100px;
}

@media (min-width:360px) and (max-width:420px) {
  
  
 
svg {
  font-family: "Poppins", sans-serif;
  width: 280px ;height: 100%;
}
svg text {
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 50px;
}
}


@keyframes stroke {
  0%   {
     fill: rgba(255,255,255,0); stroke: rgba(95, 195, 229, 0.859);
     stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(255,255,255,0); stroke: rgba(231, 112, 213, 0.859); }
  80%  {fill: rgba(255,255,255,0); stroke: rgba(95, 195, 229, 0.859); stroke-width: 3; }
  100% {
     fill: rgba(255,255,255,1); stroke: rgba(54,95,160,0);
     stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}





.third_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
  
   

}

.third_page h2{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 50px;
   padding-left: 50px;
  
}  

@media (min-width:360px) and (max-width:420px) {
  
  
  .third_page h2{
     color: #88c7f1;
     font-family: Bruno Ace SC;
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 6px;
     padding-top: 50px;
     padding-left: 50px;
    
  }  

    }

.cord_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cordimg_box{
  display: flex;
  flex-direction: column;
  width: 800px;
  
  
}

@media (min-width:360px) and (max-width:420px) {
  
  
  .cordimg_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 80px;
    
  }

    }





.cordimg_box .first_row{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:60px;

}
@media (min-width:360px) and (max-width:420px){
  .first_row .img img{

    height: 80px;

  }
}
.cordimg_box .second_row{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}



@media (min-width:360px) and (max-width:420px){
  .second_row .img img{

    height: 80px;

  }
}

.name{
  padding: 20px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  

}

@media (min-width:360px) and (max-width:420px){
  .name{
    padding: 10px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    
  
  }
}

.fourth_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   overflow-x: visible;
   
   

}

.fourth_page h2{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 30px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 12px;
   padding-top: 50px;
   padding-left: 50px;
  
}  

@media (min-width:360px) and (max-width:420px){
  .fourth_page h2{
    color: #88c7f1;
     font-family: Bruno Ace SC;
     font-size: 15px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 3px;
     padding-top: 50px;
     padding-left: 25px;
    
  }  
}


.subcord_page{
  display: flex;
  justify-content: center;
  align-items: center;
}