*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.homepage{
   background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x:auto;
}

.club .club_name{
   font-family: 'Bruno Ace SC', cursive;
   font-size: 6vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: ;
   color: white;
}

.club .club_type{

   font-family: 'Bruno Ace SC', cursive;
   font-size: 7vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: vw;
   color: rgba(193, 139, 235, 0.80);
}

.club .college_name{

   
   font-family: Bruno Ace SC;
   
   font-size: 6vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 7.2 px;
   color: rgba(193, 139, 235, 0.80);
}

.club{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  overflow-x:auto;
}

.agenda_page{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
   overflow-x:auto;
}

.title{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 6vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.2vw;
   padding-top: 8vw;
   padding-left: 10.5vw;

   

}

.agenda_page .content{
   color: #FFF;
   font-family: Poppins;
   font-size: 3vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   padding-top: 4vw;
   
}

.content .first_list{
   list-style: circle;
   padding-left: 11.5vw;
   padding-top: vw;
   line-height: 160%;
   padding-right:50px;
}


.sub_list{
   padding-left: 0.9vw;
   padding-top: 10px;
   color: #89AAEB;
   line-height: 180%;
   
}

.content .second_list{
   list-style: circle;
   padding-left: 11.5vw;
   padding-top: 10px;
   line-height: 160%;
}

.content .third_list{
   list-style: circle;
   padding-left: 11.5vw;
   padding-top: 10px;
   line-height: 160%;

}

.fifth_page{
   width: 100%;
   height: 100vh;
   background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
   overflow-x:auto;
}

.fifth_page .name{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 6vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1vw;
   padding-top: 9vw;
   padding-left: 9vw;
  
}

.fifth_page .list{

   color: #FFF;
   font-family: Poppins;
   font-size: 3vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   

}

.list .list1{
   padding-top: 14vw;
   padding-left: 15vw;
   line-height: 160%;
   padding-right: 15vw;

}
.list p{
   color: #FFF;
   font-family: Poppins;
   font-size: 4.5vw;
   font-style: normal;
   font-weight: 600;
   line-height: 140%;
   padding-left: 13.5vw;
   padding-top: 10vw;
}

.illustration img{
  height: 160px;
  margin-left: 1100px;
}

.sixth_page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
  overflow-x:auto;
}

.qr_codebox{
  height: 40vw;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-family: Poppins;
  font-size: 2vw;
  background-color: #f8f8f8;
  
  margin-top: 5vw;
  letter-spacing: 1px;

  

}
.qr_codebox .group_type{
  font-size: 2vw;
  padding-bottom: 2vw;
}
.qr_codebox .image img{
  height: 20vw;
}

.code_box{
  display: flex;
  justify-content: center;
  align-items: center;

}

.whatsapp_qr{

  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 5vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 8px;
   padding-top: 8vw;
   padding-left: 8vw;
   
  
}

.illustration2 img{
  height: 16vw;
  
  
}

.illustration2new img{
  height: 18vw;
  margin-bottom: 50vw;

}






.seventh_page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #100031 9.90%, #320033 90.10%);
  overflow-x:auto;
 
}

.qr_codebox2{
  height: 45vw;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
  font-family: Poppins;
  font-size: 3vw;
  background-color: #ffffff ;
  margin-top: 5vw ;
  letter-spacing: 1px;

  

}
.qr_codeboxnew .group_type{
  font-size: 15px;
  padding-bottom:10px;
}
.qr_codebox2 .image img{
  height: 30vw;
  padding-top: 1vw;
}

.code_boxnew{
  display: flex;
  justify-content: center;
  align-items: center;
}

.insta_qr{

   color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 5vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 9px;
   padding-top: 8vw;
   padding-left: 8vw;
  
}

.illustration3 img{
  height: 20vw;
  margin-left:3vw;
}

.eight_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x:auto;
}

.thankyou_page h1{
  font-family: 'Bruno Ace SC', cursive;
   font-size: 6vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 2.96vw;
   color: white;

}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

svg {
  font-family: "Poppins", sans-serif;
  width: 120vw ;height: 100%;
}
svg text {
  animation: stroke 3s infinite alternate;
  stroke-width: 2;
  stroke: #365FA0;
  font-size: 14vw;
}
@keyframes stroke {
  0%   {
     fill: rgba(255,255,255,0); stroke: rgba(95, 195, 229, 0.859);
     stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(255,255,255,0); stroke: rgba(231, 112, 213, 0.859); }
  80%  {fill: rgba(255,255,255,0); stroke: rgba(95, 195, 229, 0.859); stroke-width: 3; }
  100% {
     fill: rgba(255,255,255,1); stroke: rgba(54,95,160,0);
     stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
  }
}


.third_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   overflow-x:auto;
}

.third_page h2{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 4vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1vw;
   padding-top: 5vw;
   padding-left: 5vw;
  
}  

.cord_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cordimg_box{
  display: flex;
  flex-direction: column;
  width:100vw;
  
}

.cordimg_box .first_row{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:6vw;

}

.cordimg_box .second_row{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vw;
}

.name{
  padding: 2vw;
  color: white;
  font-size: 3vw;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  

}

.fourth_page{

  background: url(background.jpg) center no-repeat;
   background-size:cover ;
   width: 100%;
   height: 100vh;
   overflow-x:auto;
}

.fourth_page h2{
  color: #88c7f1;
   font-family: Bruno Ace SC;
   font-size: 4vw;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 1.2vw;
   padding-top: 5vw;
   padding-left: 5vw;
  
}  

.subcord_page{
  display: flex;
  justify-content: center;
  align-items: center;
}